{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="small-12 columns">
            <ul class="breadcrumbs">
                <li><a href="{% url "accounts" %}">Accounts</a></li>
                <li><a href="{% url "view_account" account.id %}">{{account.email_address}}</a></li>
                <li class="current">Delete</li>
            </ul>
            
            <div class="panel callout radius">
                <h5>Are you sure you want to delete {{account.email_address}}?</h5>
                <form method="POST" action="{% url "delete_account" account.id %}">
                    {% csrf_token %}
                    <button class="warning" type="submit">Delete</button>
                    <a class="button" href="{% url "view_account" account.id %}">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}