{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="small-12 columns">
            <ul class="breadcrumbs">
                <li class="current">Groups</li>
            </ul>

            {% if groups.count == 0 %}
                <div class="panel callout radius">
                    <h5>You don't have any groups yet</h5>
                </div>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for group in groups %}
                            <tr>
                                <td><a href="{% url "view_group" group.id %}">{{group.name}}</a></td>
                                <td>{{group.description}}</td>
                                <td>0 contacts</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            <a class="button" href="{% url "create_group" %}">Add Group</a>
        </div>
    </div>
</div>
{% endblock %}