{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="small-12 columns">
            <ul class="breadcrumbs">
                <li class="current">Groups</li>
            </ul>

            {% if groups.count == 0 %}
                <div class="panel callout radius">
                    <h5>You don't have any groups yet</h5>
                </div>
            {% else %}
                {% include "contacts/groups/table.html" %}
            {% endif %}

            <a class="button" href="{% url "create_group" %}">Add Group</a>
        </div>
    </div>
</div>
{% endblock %}