{% load staticfiles %}
{% load i18n %}
{% load compress %}

<!DOCTYPE html>
<html>
<head>
    <title>Holloway</title>
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static "sass/holloway.scss" %}" />
    {% endcompress %}
    <script src="{% static "modernizr/modernizr.js" %}"></script>
</head>
<body>
    {% block navbar %}
        <nav class="top-bar" data-topbar>
            <ul class="title-area">
                <li class="name">
                    <h1><a href="{% url "index" %}">Holloway</a></h1>
                </li>
                <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
            </ul>
            {% if user.is_authenticated %}
                <section class="top-bar-section">
                    <ul>
                        <li><a href="{% url "contacts" %}">Contacts</a></li>
                        <li><a href="{% url "groups" %}">Groups</a></li>
                        <li><a href="{% url "email_templates" %}">Email Templates</a></li>
                        <li><a href="{% url "send_email" %}">Send Email</a></li>
                        <li><a href="{% url "accounts" %}">Accounts</a></li>
                        <li><a href="{% url "account_logout" %}">Logout</a></li>
                    </ul>
                </section>
            {% endif %}
        </nav>
    {% endblock %}
<div class="container" id="content">
    {% if messages %}
        {% for message in messages %}
            <div data-alert class="alert-box {% if message.tags %}alert-{{message.tags}}{% endif %}">
                {{message}}
                <a href="#" class="close">&times;</a>
            </div>
        {% endfor %}
    {% endif %}
</div>
{% block content %}
{% endblock %}
{% compress js %}
    <script type="text/javascript" src="{% static "jquery/dist/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "fastclick/lib/fastclick.js" %}"></script>
    <script type="text/javascript" src="{% static "foundation/js/foundation.min.js" %}"></script>
    {% block scripts %}
    {% endblock %}
{% endcompress %}
</body>
</html>