{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="small-12 columns">
            <ul class="breadcrumbs">
                <li class="current">Contacts</li>
            </ul>

            {% if contacts.count == 0 %}
                <div class="panel callout radius">
                    <h5>You don't have any contacts yet</h5>
                </div>
            {% else %}
                {% include "contacts/table.html" %}
            {% endif %}

            <a class="button" href="{% url "create_contact" %}">Add Contact</a>
            <a class="button" href="{% url "import_contacts" %}">Import Contacts</a>
        </div>
    </div>
</div>
{% endblock %}