{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="small-12 columns">
            <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Surname</th>
                    <th>Email Address</th>
                    <th colspan="2"></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            </table>

            <a class="button" href="#">Add Contact</a>
        </div>
    </div>
</div>
{% endblock %}