{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="small-12 columns">
            <ul class="breadcrumbs">
                <li><a href="{% url "contacts" %}">Contacts</a></li>
                <li class="current">{{contact.name}}</li>
            </ul>

            <table>
                {% for a,b in contact.all_fields %}
                    <tr>
                        <th>{{a}}</th>
                        <td>{{b}}</td>
                    </tr>
                {% endfor %}
            </table>


            <div>
                {% if contact.groups.count == 0 %}
                    <div class="panel callout radius">
                        <h5>This contact isn't a member of any groups</h5>
                    </div>
                {% else %}
                    {% include "contacts/groups/table.html" with groups=contact.groups.all %}
                {% endif %}
            </div>

            <a class="button" href="{% url "edit_contact" contact.id %}">Edit</a>
            <a class="button warning" href="{% url "delete_contact" contact.id %}">Delete</a>
        </div>
    </div>
</div>
{% endblock %}